html {
    margin: 0 auto;
    max-width: 1040px;
}


body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background-color: #d5d3ec;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    padding: 20px 45px;
}

p {
    font-size: 1.2rem;
}


header, footer {
    background-color: #0a60a1;
    padding: 25px;
    font-size: 2rem;
    text-align: center;
    color: white;
}

footer {
    font-size: 18px;
}

.text-head {
    text-align: center;
    font-size: 25px;
    background-color: orange;
    padding: 10px;

}

img {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#bg {
    background-color: #f0f0f0;
}

.white {
    background-color: rgb(253, 197, 197);
    padding: 15px;
}

/* 
@media only screen and (min-device-width: 1025px){
    main {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px 45px;
    }
} */