.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #1349df;
    padding: 10px;
  }
  .grid-item_photo {
    padding: 1px;
  }
  .img-myPhoto {
      width: 100px;
      margin: 1;
  }
  .grid-item_row-space {
    grid-column: 1 / span 2;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .paragraph_padding {
    margin-left: 15px;
  }
 