.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #1349df;
    padding: 10px;
  }
  .grid-item_photo {
    padding: 1px;
  }
  .img-myPhoto {
      width: 100px;
      margin: 1;
  }
  .grid-item_row-space {
    grid-column: 1 / span 2;
    background-color: #1349df;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .paragraph_padding {
    margin-left: 15px;
  }
  .myName {
    color: #ffffff;
    text-align: left;
  }
  .footer {
    background-color: #1349df;
    text-align: center;
  }
  .font18 {
    color: white;
    font-size: 18px;
    padding-top: 5px;
  }
  .font16 {
    color: yellow;
    font-size: 16px;
    padding-bottom: 5px;
  }
  .note {
    font-size: 12px;
    font-style: italic;
  }

  body {
    font-size: 16px;
    font-family: "Sansita", Ubuntu, sans-serif;
  }