.font_1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.font_2{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.font_3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}