body {
	padding: 0;
	margin: 0;
}

header {
	background-color: #fff;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 900px;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 1.5rem;
}

.m {
	letter-spacing: 1pt;
	color: forestgreen;
	font-weight: 700;
	font-size: 0.8rem;
}

.social {
	margin-right: 1.5rem;
}

.social svg {
	width: 25px;
	height: auto;
}

/* Larger viewports */
@media only screen and (min-width: 32.5em) {
	header img {
		width: 100%;
	}

	.headings h1 {
		font-size: 2rem;
		margin: 0;
	}

	.m {
		letter-spacing: 1.5pt;
		font-size: 0.9rem;
	}
}
.grid-collum{
    margin: 5rem auto;
    display: grid;
    width: min(90%, 75rem);
    grid-template-columns: 33% 33% 33%;
    text-align: center;
	font-family: 'Times New Roman', Times, serif;
	text-decoration: none;
}
.a_in_grid{
	text-decoration: none;
}
/*.grid_float_test{
	margin: 5rem auto;
	float: inline-end;
	text-align: center;
	color: red;
}
*/
.cap_planet{
	align-items: center;
}
.text-align{
	text-align: center;
}

/*ul*/
*{
	text-decoration: none;
}
ul{

}

nav{
	width: 100%;
	height: 50%;
	background-color: rgb(66, 157, 231);
	text-align: center;
}

ul li{
	list-style: none;
	display: inline-block;
	padding: 15px;
	line-height: 50%;
}
ul li a{
	text-decoration: none;
	font-size: x-large;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	color: #fff;
	padding: 0 45px;
}