*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-size: cover;
	background-attachment: fixed;
}
.navbar{
	height: 70px;
	width: 100%;
	padding: 14px 30px;
	background-color: #1b4cd3;
	position: relative;
}
.navbar .nav-header{
	display: inline;
}
.navbar .nav-header .nav-logo{
	display: inline-block;
	margin-top: -7px;
}
.navbar .nav-links{
	display: inline;
	float: right;
	font-size: 18px;
}
.navbar .nav-links .loginBtn{
	display: inline-block;
	padding: 5px 15px;
	margin-left: 20px;
	font-size: 17px;
	color: rgb(9, 14, 90);
}
.navbar .nav-links a{
	padding: 10px 12px;
	text-decoration: none;
	font-weight: 550;
	color: white;
}
/* Hover effects */
	.navbar .nav-links a:hover{
	background-color: rgba(0, 0, 0, 0.3);
}
/* responsive navbar toggle button */
.navbar #nav-check, .navbar .nav-btn{
	display: none;
}  
.social {
	margin-right: 1px;
}
.social img {
	width: 25px;
	height: auto;
}
.bottom_page_strip{
	background-color: #1b4cd3;
	font-size: large;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	color: #fff;
}
.itemEvent {
	grid-area: event;
}
.itemWeather {
	grid-area: weather;
}
.itemWeather .status {
	text-align: right;
	margin: 20px;
}
.itemWeather hr {
	margin: 20px;
}
.itemJoin {
	grid-area: join;
}
.itemJoin button {
	background-color: #04AA6D; /* Green */
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
	font-weight: bold;
}
.itemWelcome {
	grid-area: welcome;
	position: relative;
	text-align: center; 
	color: white;
}
.itemWelcome button {
	background-color: #04AA6D; /* Green */
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 8px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
}
.top-left {
	position: absolute;
	top: 50px;
	left: 30px;
	color: blue;
}
.bottom-right {
	position: absolute;
	bottom: 50px;
	right: 30px;
}
.bottom-right button {
	font-weight: bold;
}
.itemWelcome img {
	padding: 20px;
	width: 100%;
	height: 100%;
	object-fit:cover;
}
.itemNews {
	grid-area: news;
}
.itemSpot1 {
	grid-area: spot1;
}
.itemSpot1 p {
	margin: 20px;
}
.itemSpot1 hr {
	margin: 20px;
}
.itemSpot2 {
	grid-area: spot2;
}
.itemSpot2 p {
	margin: 20px;
}
.itemSpot2 hr {
	margin: 20px;
}
.itemSport3 {
	grid-area: spot3;
}
.itemSpot3 p {
	margin: 20px;
}
.itemSpot3 hr {
	margin: 20px;
}
.sideIcons {
	width: 100px;
	height: auto;
}
/*veiw list button css*/
button.active {
	color: green;
}

.grid-container > div {
	background-color: rgb(14, 176, 240);
	text-align: center;
	padding: 20px 0;
}
.grid-container {
	display: grid;
	grid-template-areas: 'event welcome welcome spot1'
						'weather welcome welcome spot2'
						'join news news spot3';
	grid-gap: 10px;
	padding: 10px;
}
.flex-container {
	display: flex;
}
.flex-container > div {
	padding: 20px;
}
.flex-container div img {
	width: 100px;
	height: 100px;
}
.flex-container div p {
	font-size: 50px;
}
.centered {
    display: inline-flex;
	margin: 0 800px;
	font-size: x-large;
  }

/*--Discover Page--*/
@media (min-width: 901px) and (max-width:34rem){
	.itemOne{
		grid-area: 1;
	}
	.itemTwo{
		grid-area: 2;
	}
	.itemThree{
		grid-area: 3;
	}
	.itemFour{
		grid-area: 4;
	}
	.itemFive{
		grid-area: 5;
	}
	.itemSix{
		grid-area: 6;
	}
	.itemSeven{
		grid-area: 7;
	}
	.itemEight{
		grid-area: 8;
	}
	.itemNine{
		grid-area: 9;
	}
	
	.grid-containment {
		display: grid;
		grid-column: 1fr 1fr;
		grid-row: 1fr 1fr;
		grid-template-areas:'1 2 3'
							'4 5 6'
							'7 8 9';
		grid-gap: 10px;
		padding: 10px;
	  }
	}
/* Join Page*/
/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 300rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/
.imgs {
	float: right;
	size: 1rem;
}

/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
form label.sbs {
    padding: .4rem 0;
}


/*----------- FOOTER --------------*/
    
} /* end of media query */
