@media (min-width: 768px) and (max-width:900px){
	.navbar {
		z-index: 300;
	}
	.navbar .nav-btn{
	  display: inline-block;
	  position: absolute;
	  top: 0px;
	  right: 0px;
	}
	.navbar .nav-btn label {
	  display: inline-block;
	  width: 80px;
	  height: 70px;
	  padding: 25px;
	}
	.navbar .nav-btn label span {
	  display: block;
	  height: 10px;
	  width: 25px;
	  border-top: 3px solid #eee;
	}
	.navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
	  background-color: rgb(9, 14, 90);
	}
	.navbar .nav-links{
	  position: absolute;
	  display: block;
	  text-align: center;
	  width: 50%;
	  background-color: rgb(9, 14, 90);
	  transition: all 0.3s ease-in;
	  overflow-y: hidden;
	  top: 70px;
	  right: 0px;
	}
	.navbar .nav-links a {
	  display: block;
	}
   
	/* when nav toggle button not checked */
	.navbar #nav-check:not(:checked) ~ .nav-links {
	  height: 0px;
	}
   
	/* when nav toggle button is checked */
	.navbar #nav-check:checked ~ .nav-links {
	  height: calc(100vh - 70px);
	  overflow-y: auto;
	}
	.navbar .nav-links .loginBtn {
	  padding: 10px 40px ;
	  margin: 20px;
	  font-size:  18px;
	  font-weight: bold;
	  color: rgb(9, 14, 90);
	}

    .grid-container {
        display: grid;
        grid-template-areas: 'welcome welcome'
                             'news news'
                             'spot1 spot2'
                             'join join'
                             'event weather'
							 'spot3 spot3';
        grid-gap: 10px;
        padding: 10px;
    }
}
.centered {
	position: relative;
	bottom: 50px;
	right: 155px;
}
/* for discover page*/
.img1{
	size: 300px 400px;
}
.img2{
	size: 300px 400px;
}
.img3{
	size: 300px 400px;
}
.img4{
	size: 300px 400px;
}
.img5{
	size: 300px 400px;
}
.img6{
	size: 300px 400px;
}
.grid-container_dis {
	display: grid;
	grid-template-areas: 'img1 img2 img3'
						 'img4 img5 img6';
	grid-gap: 10px;
	padding: 10px;
}

/* Join Page*/
/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


	/*----------- BODY --------------*/
	
	
	
	/*----------- HEADER --------------*/
	
	
	
	/*----------- NAVIGATION --------------*/
		nav ul {margin-left: 2%;}
		nav ul li {width: auto;}
		nav ul li:first-child a {border-left: 1px solid #777;}
		nav ul li:last-child a {border-right: 1px solid #777;}
		nav ul li a{padding: .5rem 1rem;}
	
	
	/*----------- MAIN --------------*/
	
	
	
	/*----------- FOOTER --------------*/
		
	} /* end of media query */