@media (min-width: 576px) and (max-width: 767.98px) {
	.navbar {
		z-index: 300;
	}
	.navbar .nav-btn{
	  display: inline-block;
	  position: absolute;
	  top: 0px;
	  right: 0px;
	}
	.navbar .nav-btn label {
	  display: inline-block;
	  width: 80px;
	  height: 70px;
	  padding: 25px;
	}
	.navbar .nav-btn label span {
	  display: block;
	  height: 10px;
	  width: 25px;
	  border-top: 3px solid #eee;
	}
	.navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
	  background-color: rgb(9, 14, 90);
	}
	.navbar .nav-links{
	  position: absolute;
	  display: block;
	  text-align: center;
	  width: 50%;
	  background-color: rgb(9, 14, 90);
	  transition: all 0.3s ease-in;
	  overflow-y: hidden;
	  top: 70px;
	  right: 0px;
	}
	.navbar .nav-links a {
	  display: block;
	}
   
	/* when nav toggle button not checked */
	.navbar #nav-check:not(:checked) ~ .nav-links {
	  height: 0px;
	}
   
	/* when nav toggle button is checked */
	.navbar #nav-check:checked ~ .nav-links {
	  height: calc(100vh - 70px);
	  overflow-y: auto;
	}
	.navbar .nav-links .loginBtn {
	  padding: 10px 40px ;
	  margin: 20px;
	  font-size:  18px;
	  font-weight: bold;
	  color: rgb(9, 14, 90);
	}

    .grid-container {
        display: grid;
        grid-template-areas: 'welcome'
                             'event'
                             'weather'
                             'news'
							 'spot1'
							 'spot2'
							 'spot3'
							 'join';
        grid-gap: 10px;
        padding: 10px;
    }
}
/* Join Page*/
/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}


/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #ddd;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

/*----------- NAVIGATION --------------*/
nav {
    background-color: #666;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    float: left;
    width: 25%;
}
nav ul li a {
    display: block;
    background-color: #444;
    color: #eee;
    border-left: 1px solid #777;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}
nav ul li:first-child a {border-left: none;}

nav ul li a:hover {
    background-color: #eee;
    color: #333;
}
nav ul li.active a {
    background-color: #000;
    color: #fff;
}
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
}

/*----------- FORM --------------*/
form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: red;
    font-size: .8rem;
}
form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}
form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}
/*----------- FOOTER --------------*/
footer {
    background-color: #ddd;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}