/*main page*/
.navbar{
	height: 70px;
	width: 100%;
	padding: 14px 30px;
	background-color: #1b4cd3;
	position: relative;
}
.navbar .nav-header{
	display: inline;
}
.navbar .nav-header .nav-logo{
	display: inline-block;
	margin-top: -7px;
}
.navbar .nav-links{
	display: inline;
	float: right;
	font-size: 18px;
}
.navbar .nav-links .loginBtn{
	display: inline-block;
	padding: 5px 15px;
	margin-left: 20px;
	font-size: 17px;
	color: rgb(9, 14, 90);
}
.navbar .nav-links a{
	padding: 10px 12px;
	text-decoration: none;
	font-weight: 550;
	color: white;
}
/* Hover effects */
	.navbar .nav-links a:hover{
	background-color: rgba(0, 0, 0, 0.3);
}
/* responsive navbar toggle button */
.navbar #nav-check, .navbar .nav-btn{
	display: none;
}  
.social {
	margin-right: 1px;
}
.social img {
	width: 25px;
	height: auto;
}

.mainItem img {
	size: 300px 400px;
}
.mainItem h1 {
	float: right;
	font-size: x-large;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.mainItem p {
	float: right;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.mainItem button {
	background-color: #04AA6D; /* Green */
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 8px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
}
.cleanAd img{
	size: 300px 400px;
}
.pool img{
	size: 300px 400px;
}
.breakfastAd img{
	size: 300px 400px;
}

.grid-container > div {
	background-color: rgb(172, 227, 248);
	text-align: center;
	padding: 20px 0;
}

.grid-container {
	display: grid;
	grid-template-areas:'mainItem mainItem mainItem'
						'cleanAd  		   pool'
						'breakfastAd breakfastAd breakfastAd';

	grid-gap: 10px;
	padding: 10px;
}

.flex-container {
	display: flex;
}
.flex-container > div {
	padding: 20px;
}
.flex-container div img {
	width: 100px;
	height: 100px;
}
.flex-container div p {
	font-size: 50px;
}
.centered {
    display: inline-flex;
	margin: 0 800px;
	font-size: x-large;
  }