/*main page*/
	@media (min-width:  767.98px) and (max-width:1500px){
	.navbar{
		height: 70px;
		width: 100%;
		padding: 14px 30px;
		background-color: #1b4cd3;
		position: relative;
	}
	.navbar .nav-header{
		display: inline;
	}
	.navbar .nav-header .nav-logo{
		display: inline-block;
		margin-top: -7px;
		max-width: 50%;
		max-height: 50%;
	}
	.navbar img{
		max-width: 50%;
		max-height: 50%;
	}
	.navbar .nav-links{
		display: inline;
		float: right;
		font-size: 18px;
	}
	.navbar .nav-links .loginBtn{
		display: inline-block;
		padding: 5px 15px;
		margin-left: 20px;
		font-size: 17px;
		color: rgb(9, 14, 90);
	}
	.navbar .nav-links a{
		padding: 10px 12px;
		text-decoration: none;
		font-weight: 550;
		color: white;
	}
	/* Hover effects */
		.navbar .nav-links a:hover{
		background-color: rgba(0, 0, 0, 0.3);
	}
	/* responsive navbar toggle button */
	.navbar #nav-check, .navbar .nav-btn{
		display: none;
	}  
	.social {
		margin-right: 1px;
	}
	.social img {
		width: 25px;
		height: auto;
	}
	
	.body{
		background-color: aliceblue;
	}
	.body h1 {
		text-align: center;
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-size: xx-large;
	}
	.body h2 {
		text-align: center;
		font-family: Georgia, 'Times New Roman', Times, serif;
		font-size: large;
	}
	
	.mainItem {
		grid-area: main;
		align-items: center;
	}
	.mainItem img {
		align-items: center;
	}
	.mainItem h1 {
		font-size: x-large;
		font-family: Georgia, 'Times New Roman', Times, serif;
		text-align: center;
	}
	.mainItem p {
		text-align: center;
		font-family: Georgia, 'Times New Roman', Times, serif;
	}
	.cleanAd img{
		grid-area: cleanAd;
	}
	.pool{
		grid-area: pool;
	}
	.pool img{
		align-items: center;
	}
	.breakfastAd{
		grid-area: breakfastAd;
		
	}
	.breakfastAd img{
		max-width: 90%;
		max-height: 90%;
	}

	.grid-container > div {
		background-color: rgb(125, 228, 247);
		text-align: center;
		padding: 20px 0;
	}
	.grid-container {
		background-color: rgb(170, 238, 238);
		display: grid;
		grid-template-areas:'main cleanAd'
							'pool breakfastAd';
		grid-gap: 10px;
		padding: 10px;
	}
}