@media (min-width: 376px) and (max-width: 767.98px) {
	.navbar {
		z-index: 300;
	}
	.navbar .nav-btn{
	  display: inline-block;
	  position: absolute;
	  top: 0px;
	  right: 0px;
	}
	.navbar .nav-btn label {
	  display: inline-block;
	  width: 80px;
	  height: 70px;
	  padding: 25px;
	}
	.navbar .nav-btn label span {
	  display: block;
	  height: 10px;
	  width: 25px;
	  border-top: 3px solid #eee;
	}
	.navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
	  background-color: rgb(9, 14, 90);
	}
	.navbar .nav-links{
	  position: absolute;
	  display: block;
	  text-align: center;
	  width: 50%;
	  background-color: rgb(9, 14, 90);
	  transition: all 0.3s ease-in;
	  overflow-y: hidden;
	  top: 70px;
	  right: 0px;
	}
	.navbar .nav-links a {
	  display: block;
	}
  .centered {
    display: inline-flex;
  }
	/* when nav toggle button not checked */
	.navbar #nav-check:not(:checked) ~ .nav-links {
	  height: 0px;
	}
   
	/* when nav toggle button is checked */
	.navbar #nav-check:checked ~ .nav-links {
	  height: calc(100vh - 70px);
	  overflow-y: auto;
	}
	.navbar .nav-links .loginBtn {
	  padding: 10px 40px ;
	  margin: 20px;
	  font-size:  18px;
	  font-weight: bold;
	  color: rgb(9, 14, 90);
	}
}

.mainItem img {
	size: 300px 400px;
}
.mainItem h1 {
	float: right;
	font-size: x-large;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.mainItem p {
	float: right;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.mainItem button {
	background-color: #04AA6D; /* Green */
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 8px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 12px;
}
.cleanAd img{
	size: 300px 400px;
}
.pool img{
	size: 300px 400px;
}
.breakfastAd img{
	size: 300px 400px;
}

.grid-container > div {
	background-color: rgb(172, 227, 248);
	text-align: center;
	padding: 20px 0;
}
.grid-container {
	display: grid;
	grid-template-areas:'mainItem'
						'cleanAd' 
						'pool'
						'breakfastAd';

	grid-gap: 10px;
	padding: 10px;
}
