h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
p {
    text-align: center;
    border: solid 1px black;
}
img {
    align-self: center;
    margin: 0 350px;
    size: 300px 400px;
    
}
