* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;   
}


.navbar {
    background-color: #11B7B2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.brand-title {
    color: white;
    font-size: 1.7rem;
    line-height: 80px;
    padding: 0 20px;
    font-weight: 600;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}


.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover{
    color: white;
    background-color: black;
    border-radius: 5px;
}

.toggle-button {
    position: absolute;
    line-height: 80px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    align-items: center;
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.upper {
    text-transform: uppercase;
}

h3 {
    text-align: center;
}

.page-intro {
    font-size: 1.8rem;
    text-align: center;
    padding: 15px;
}

img {
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.bg-text {
    background-color:#C1C137FF;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

.p-bg{
    /* background-color: #87ceeb; */
    padding: 15px;
}

@media (max-width: 870px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        /*****************************************************
        * We need JavaScript to click and bring down the menu 
        *********************************************************/
        /* display: none; */ 


        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 1rem;
    }

    .navbar-links:active {
        display:flex;
    }

    .toggle-button {
        margin-top: 30px;
    }
}





/*************************************************************************
* COLOR SCHEME PAGE
*************************************************************************/
.ctr {
    text-align: center;
}

.size {
    font-size: 20px;
    padding: 10px;
}

.bg-col {
    font-size: 1.4rem;
}

.padding {
    padding: 10px 20px;
}

.blue {
    background-color:#2196F3;
}

.gr-bl {
    background-color: #E0E0E0;
    color: white;
}

.yellow {
    background-color: #C1C137FF;
}

.dr-black {
    background-color: #1d2b36;
    color: white;
}

.green {
    background-color: #11B7B2;
}

.black {
    background-color: #000000;
    color: white;
}




/*************************************************************************
* TARGET AUDIENCE
*************************************************************************/
ol li {
    margin-left: 5px;
    padding: 5px;
}

/*************************************************************************
* TYPOGRAPHY
*************************************************************************/
.thirty-five-poppins {
    font-size: 35px;
}

.normal-poppins {
    font-size: 16px;
}

.bg-color {
    background-color: #1abc9c;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}